.About {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 2;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    transition: .3s all ease;
    background-image: url("../../assets/backgroundPhoto5.svg");
}

.AboutHeader {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    border-bottom: black solid;
    font-weight: 300;   
}

.AboutContent {
    margin-top: 150px;
    display: flex;
    /* flex-direction: row; */
   justify-content: center;
   /* background: linear-gradient(to left , white, transparent); */
   /* background-image: radial-gradient(circle, transparent, transparent, white); */
}

.AboutContentColumnLeft {
    height: auto;
    max-width: 33.33333%;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 20px;
    /* border: black solid 5px; */
    background: linear-gradient(to bottom , white,  white, white, white, transparent);
}

.AboutContentColumnMiddle {
    height: 95%;
    max-width: 33.33333%;
    width: 33.33333%;
    margin: 0 auto;
    -webkit-animation: bounce-in-top 3s both;
                animation: bounce-in-top 3s both;
                box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.335);
}

.AboutContentColumnRight {
    height: auto;
    max-width: 33.33333%;
    padding-left: 10px;
    padding-right: 20px;
    font-size: 20px;
    background: linear-gradient(to bottom , white,  white, white, transparent);
   
}

@-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @media only screen and (max-width: 600px) {
        .About{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                padding-top: 1vh;
            }
        .AboutContent {
                flex-direction: column;
                height: auto;
                margin-top: 1vh;
        }
        .ContentColumns{
                max-width: 100%;
                height: 100%;
                font-size: 16px;
                padding: 0;
        }
        .AboutContent {
                margin-top: 1vh;
                height: auto;
        }
        .AboutContentColumnMiddle {
                image-resolution: cover;
                width:auto;
                -webkit-animation: none;
                            animation: none;
        }
      }
  